body {
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: Helvetica, Arial, sans-serif;
}
.smallimg {
    object-fit: cover;
}

.d-block {
    opacity: 0.7;
}

#rd {
    text-decoration: none;
    color: black;
}
#rd :hover {
    color: darkturquoise;
}